{% extends "_layout.html" %}
{% block main %}
<h1>Seja bem vindo, {{ user.username }}!</h1>
{% block content %}

<div class=".container mx-3 mt-3 ">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Dosagem</th>
      <th scope="col">Data criação</th>
      <th scope="col"> Horario </th>
      <th scope="col"> Observação </th>
      <th scope="col">Ação</th>

    </tr>
  </thead>
  <tbody>
{%for remedio in todos_remedios%}
<tr>
      <td >{{remedio.nome}}</td>
      <td >{{remedio.quantidade}}</td>
      <td >{{remedio.dosagem}}</td>
      <td >{{remedio.criado_em|date:"d/m/Y "}}</td>
      <td >{{remedio.horario}} </td>
      <td >{{remedio.observacoes}} </td>
      <td><a href="{% url 'remedio_delete' id=remedio.id %}" class="bi bi-trash-fill btn btn-outline-danger"> Remover</a>
   <a href="{% url 'remedio_alterar' id=remedio.id %}" class="bi bi-pencil-square btn btn-outline-warning">Alterar</a></td>
    </tr>
  
{% empty %}
    <p>Nenhum remédio cadastrado.</p>
{% endfor %}

 </tbody>
</table>

</div>
<a class="btn btn-success" href="{% url 'criar_remedio' %}">
    Adicionar remédio
</a>

{% endblock content %}
{% endblock  %}
