{% extends "_layout.html" %}

{% block head_title %}Registro de Sintomas{% endblock head_title %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2><i class="bi bi-activity"></i> Registro de Sintomas</h2>
       <a href="{% url 'sintoma_create' %}" class="btn btn-success"><i class="bi bi-plus-lg"></i> Registrar Sintoma</a>
    </div>

    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Data / Hora</th>
                <th>Sintoma / Descrição</th>
                <th>Intensidade</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for sintoma in sintomas %}
            <tr>
                <td>{{ sintoma.data_ocorrencia|date:"d/m/Y H:i" }}</td>
                <td>{{ sintoma.sintoma }}</td>
                <td>{{ sintoma.intensidade }}</td>
                <td class="text-center">
                    <a href="{% url 'sintoma_update' sintoma.id %}"  class="bi bi-pencil-square btn btn-outline-warning">Alterar</a>
                    <a href="{% url 'sintoma_delete' sintoma.id %}" class="bi bi-trash-fill btn btn-outline-danger"> Remover</a>

                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center text-muted">Nenhum sintoma registrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
